<footer class="footer-container">
  <div class="footer-mid-container">
    <div class="footer-first-container">
      <div class="footer-first">
        <h2 class="footer-text-heading">Vikash`s Weather</h2>
        <p class="footer-text middle">Thank you for visiting my Weather
          website. Feel free to reach out to me for any inquiries or
          collaboration opportunities.</p>
        <p class="footer-text">Keep Rising
          <span class="fire-icon"> 🚀</span>
          . Connect with over live chat!
        </p>
      </div>
    </div>
    <div class="footer-second-container">
      <div class="footer-second">

        <h2 class="footer-text-heading">Quick links</h2>
        <div class="guicklinkarrow-container" id="footer-home">
          <p class="quickarrow">
            <span class="quickarrow-span">&#8250;</span>
          </p>
          <p class="quickarrow-text">Home</p>

        </div>
        <div class="guicklinkarrow-container" id="footer-about">
          <p class="quickarrow">
            <span class="quickarrow-span">&#8250;</span>
          </p>
          <p class="quickarrow-text">About Me</p>

        </div>

        <div class="guicklinkarrow-container" id="footer-contact">
          <p class="quickarrow">
            <span class="quickarrow-span">&#8250;</span>
          </p>
          <p class="quickarrow-text">Contact</p>

        </div>

      </div>

    </div>
    <div class="footer-third-container">
      <div class="footer-third contact-footer">

        <h2 class="footer-text-heading">Contact Info</h2>
        <div class="contact-info-container">
          <p class="contact-info"><i
              class="fi-xnsuxl-phone-solid contact-info-icon"
            ></i>
            <a href="tel:7362885182" class="attributes">
              <p class="contact-info-text">+91 7362885182</p>
            </a>
          </p>
        </div>
        <div class="contact-info-container">
          <p class="contact-info"><i
              class="fi-xwsuxl-envelope-solid contact-info-icon"
            ></i>
            <a href="mailto:vikashjjp728@gmail.com" class="attributes">
              <p class="contact-info-text">vikashjjp728@gmail.com</p>
            </a>
          </p>
        </div>
        <div class="contact-info-container">
          <p class="contact-info"><i
              class="fa-solid fa-map-location-dot contact-info-icon contact-info-bottom"
            ></i>
            <a href="/" class="attributes">
              <p class="contact-info-text">Madhubani (Bihar), India-847410</p>
            </a>
          </p>
        </div>

        <div class="contact-info-list-container">
          <p class="contact-info-icon-container"><a
              href="https://www.linkedin.com/in/vikash-kumar-8467b0253/"
              target=" "
              class="link-container"
            ><i class="fi-cnsuxl-linkedin linkedin"></i></a></p>
          <p class="contact-info-icon-container"><a
              href="https://github.com/vikashkrdeveloper"
              target=" "
              class="link-container"
            ><i class="fi-xnsuxl-github github"></i></a></p>
          <p class="contact-info-icon-container"><a
              href="mailto: vikashjjp728@gmail.com"
              target=" "
              class="link-container"
            ><i class="fi-xwsuxl-envelope-solid mailbox"></i></a></p>
          <p class="contact-info-icon-container"><a
              href="https://twitter.com/vikash2696v"
              target=" "
              class="link-container"
            ><i class="fi-xnsuxl-twitter-solid twiter"></i></a></p>
          <p class="contact-info-icon-container"><a
              href="https://web.telegram.org/k/#-623765924"
              target=" "
              class="link-container"
            ><i class="fi-xnsuxl-telegram telegram"></i></a>
          </p>
        </div>

      </div>

    </div>

  </div>

  <div class="developer-container">
    <p class="quickarrow-text">Developed with By
      <span class="developer-name">
        <a
          href="https://www.linkedin.com/in/vikash-kumar-8467b0253/"
          target=" "
          class="attributes"
        ><span class="developername">
            @vikash kumar</span></a></span></p>
  </div>
  <div class="copyright-container">
    <p class="quickarrow-text copy-right-text" >Copyright &#169; vikash kumar
      <span id="copy-right-year" id="yearfooterss"></span>
      All rights reserved</p>

  </div>
</footer>
{{!-- <script>
  const year= new Date().getFullYear();
const l=document.querySelector('#yearfooterss').innerHTML=year
console.log(l)
</script> --}}

