
<header class="header-container">

    <div class="name-container">
        <h1 class="sign-name" id="sign-name" onClick={Logotext}>@Vikash kumar</h1>
    </div>
    <nav class="nav-bar-container">
        <ul class="ul-bar-container" id="ul-bar">
            <li class="list-items-container " id="home">
                <a href='/' class='navlink'>

                    <p class="link-texts ">Home</p>
                </a>

            </li>
            <li class="list-items-container" id="about">
                <a href='/about' class='navlink' >

                    <p class="link-texts">About Me</p>
                </a>

            </li>

            <li class="list-items-container" id="project">
                <a href='/contact' class='navlink'>

                    <p class="link-texts" id="contactbtn">Contact</p>
                </a>

            </li>
            <li class="list-items-container" id="education">
                <a href="/signup" id="myLink" class='navlink'>

                    <p class="link-texts" id="usersauth">Signup</p>
                </a>

            </li>
            <li class="list-items-container last-container" id="skills">
                <a href="/login" id="myloginLink" class='navlink'>

                    <p class="link-texts" id="userauth">Login</p>
                </a>

            </li>
         

        </ul>
        <input type="checkbox" name="check" id="check" />
        <label for="check" class="label-box"><i class="fi-xnsuxl-three-bars-solid font-dot" id="font-btn" onDoubleClick={dblshowelement} onClick={showelement}></i></label>
    </nav>



</header>
