.main-home-container {
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-home-box-container {
  width: 95%;
  height: 95%;
  background: url("../images/vh.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
  border: 1px solid rgb(214, 214, 214);
}
.search-box-container-box {
  width: 100%;
  height: 80;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-text-box-container {
  margin-top: 20px;
  width: 780px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 234, 255);
  border-radius: 10px;
  border: 1px solid rgb(207, 207, 207);
}
#search-container {
  padding: 10px;
  width: 700px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
}
.search-containers {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-text {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 136, 0);
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  color: white;
}

.iconsearch {
  font-size: 25px;
  cursor: pointer;
}

.main-home-box-show-container {
  margin-top: 50px;
  width: 100%;
  height: 81%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home-box-show {
  width: 600px;
  height: 100%;
}
.main-home-box {
  width: 100%;
  height: 300px;
  background: url("../images/vh.jpg");
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-show-details-container {
  width: 400px;
  height: 100%;
}

.sunimage-box-container {
  width: 200px;
  height: 200px;
  position: relative;
  left: 15px;
  bottom: 40px;
}

.sunimage-box {
  width: 100%;
  height: 100%;
}

.location-container {
  margin-left: 10px;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
}

.icon-location {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

.location-name{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#tempdata{
    font-size: 50px;
    
    color: white;
}